.reports {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 3%;
}

.reports--nav {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.reports--options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  margin-top: 8px;
  padding: 5px;
  box-sizing: border-box;
}

.reports--options svg {
  padding-left: 8px;
}
