:root {
  --black: #131313;
  --header-blue: #232A34;
  --dark-pink: #EC365E;
  --light-pink: #FDE1E6;
  --dark-gray: #282828;
  --gray: #6F6F6F;
  --light-gray: #EFEFEF;
  --green: #01C67C;
}

.App {
  text-align: center;
  font-size: 14px;
  font-family: CircularStd;
  color: var(--dark-gray);
}

svg:hover {
  color: var(--dark-pink);
  cursor: pointer;
}
